@font-face {
    font-family: "Earth Orbiter";
    src: url("ress/earthorbiter.ttf");
    format("ttf");
}

body {
    background-color: white;
    --defaultwidthcase : 75px;
    --defaultheightcase: 75px;
}

#titre {
    font-family: "Earth Orbiter", serif;
    font-size: 70px;
    text-align: center;
    color: red;
}

.annuler {
    border: none;
    text-align: center;
    margin: 5% auto;
    font-family: "Earth Orbiter", serif;
    font-size: 20px;
    text-decoration: none;
    color: gray;
}

.victory {
    text-align: center;
    margin: 5% auto;
    font-family: "Earth Orbiter", serif;
    font-size: 30px;
    text-decoration: none;
    color: gray;
}

.valid {
    background-color: pink;
}

.tdselected {
    background-color: greenyellow;
}

.divPieces {
    margin: 0 auto;
    padding: 10px;
}

.divPlateau {
    margin: 0 auto;
    padding: 10px;
}

#tablePosePiece {
    margin: 0 10%;
    width: 100%;
    border-collapse: collapse;
}

.tdPiece {
    text-align: center;
    width : var(--defaultwidthcase);
    height: var(--defaultheightcase);
}

.btnCase, .btnDisabled {
    width: var(--defaultwidthcase);
    height: var(--defaultheightcase);
    border: none;
}

.btnCase:hover {
    background-color: blue;
}

.restartLink {
    font-family: "Earth Orbiter", serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: darkgoldenrod;
}

a {
    text-decoration: none;
    color: gray;
}

.tablePlateau {
    border-collapse: collapse;
    border: solid darkgray 2px;
}

.tdPlateau {
    border: solid darkgrey 1px;
}


.forme00 {
    background-image: url("ress/gris.png");
    background-size: 100%;
}

.forme10 {
    background-image: url("ress/carre1.png");
    background-size: 100%;
}

.forme20 {
    background-image: url("ress/cercle1.png");
    background-size: 100%;
}

.forme30 {
    background-image: url("ress/losange1.png");
    background-size: 100%;
}

.forme40 {
    background-image: url("ress/triangle1.png");
    background-size: 100%;
}

.forme11 {
    background-image: url("ress/carre2.png");
    background-size: 100%;
}

.forme21 {
    background-image: url("ress/cercle2.png");
    background-size: 100%;
}

.forme31 {
    background-image: url("ress/losange2.png");
    background-size: 100%;
}

.forme41 {
    background-image: url("ress/triangle2.png");
    background-size: 100%;
}
